<div class="container">
  <div class="row">
    <div class="col-md-12">
       <h1 [style.background]="color">
         {{title}}
      </h1>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
          <li role="presentation"><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></li>
          <li role="presentation"><a [routerLink]="['/productos-add']" [routerLinkActive]="['activado']">Crear Producto</a></li>
        </ul>
        <router-outlet></router-outlet>
    </div>
    </div>
  </div>
</div>